@import "~reset-css";
@import "variables";
@import "mixins";
@import "utils";
@import "components";

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
  font-family: 'Nunito Sans', Arial, sans-serif;
}

main {
  overflow-x: hidden;
}
