$c-background: #0b0425;
$c-background-bland: #233056;
$c-background-quote: #120835;

$c-border-quote: #84a3ff;

$c-text: #dee5fb;
$c-text-quote: #84a3ff;
$c-text-quote-strong: #b4c7ff;

$c-link: #26ffe1;
